body {
    background-color: red
}


.q_field {
    width: 500px;
    height: 100px;
    background-color: white;
    text-align: center;
}

.answ {
    float: left;
    width: 200px;
    height: 100px;
    background-color: rgb(160, 236, 213);
    text-align: center;
    margin-right: 5px;
}
